<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="../styles/send-req-form.css" rel="stylesheet" type="text/css">
    <script src="../js/take-spot.js"></script>
</head>

<body onload="setUp();">
    <form id="regForm">
        <div id="formTitle"><b>Fill in your car number please:</b></div>
        <div id="inputFields">

            <span class="error" id="emptyFieldsError">Please fill in all fields!</span>
            <span class="success" id="successReservation">Success!</span>
            <span class="error" id="alreadyExistingUserError">There is already such car in parking!</span>

            <input class="regInput" type="email" name="email" disabled="true" id="email" placeholder="User">
            <span class="error" id="emailErr">User should be valid.</span>
            <span class="required">* </span>
            <br>

            <input class="regInput" type="text" name="spot" disabled="true" id="spot" placeholder="Chosen spot">
            <span class="error" id="spotErr">The spot must be valid.</span>
            <span class="required">* </span>
            <br>

            <input class="regInput" type="text" name="carNumber" placeholder="Car number">
            <span class="error" id="carErr">The car number must be valid.</span>
            <span class="required">* </span>
            <br>
            <input type="hidden" id="data" />

            <input id="submitBtn" type="button" value="Take spot" onClick=reserve(); />
        </div>
    </form>
</body>

</html>