<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" type="text/css" href="../styles/fmi-parking-style.css">
    <link rel="stylesheet" type="text/css" href="../styles/singup.css">
    <script src="../js/signup-validator.js" defer></script>
    <title>Sign up</title>
</head>

<body>
    <form method="post" onsubmit="return isFormValid()" action=" ../controllers/signup-controller.php" enctype="multipart/form-data">
        <div class="box">
            <h2>Registration</h2>
            <p id="firstnameError"></p>
            <input type="text" id="firstname" class="input-style" name="firstname" onfocusout="isFirstnameValid()" placeholder="First name" required />
            <p id="lastnameError"></p>
            <input type="text" id="lastname" class="input-style" name="lastname" onfocusout="isLastnameValid()" placeholder="Last name" required />
            <p id="emailError"></p>
            <input type="text" id="email" class="input-style" name="email" onfocusout="isEmailValid()" placeholder="Email" required />
            <p id="passwordError"></p>
            <input type="password" id="password" class="input-style" name="password" onfocusout=" isPasswordValid()" placeholder="Password" required />
            <p id="confirmedPasswordError"></p>
            <input type="password" id="confirmedpassword" class="input-style" name="confirmedpassword" onfocusout="isConfirmPasswordValid()" placeholder="Confirm password" required />
            <p id="carNumberError"></p>
            <input type="text" id="carnumber" class="input-style" name="carnumber" onfocusout="isCarNumberValid()" placeholder="Car number" required />
            <div class="additional-fields">
                <label for="status" id="status-field">Status:</label>
                <select name="status" id="status" readonly>
                    <option value="admin">ADMIN</option>
                    <option value="permanent">PERMANENT</option>
                    <option value="temporary">TEMPORARY</option>
                    <option value="blocked">BLOCKED</option>
                </select>
            </div>
            <div class="additional-fields">
                <label for="img">Photo:</label>
                <input type="file" id="photo" name="photo" accept="image/*" placeholder="Photo" required />

            </div>
            <input type="submit" name="submit" id="registration-button" class="button-style" value="Registration" />
        </div>
    </form>
</body>

</html>