body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 20px 0px 20px 0px;
}

#email-label {
    margin-right: 35px;
}

#password-label {
    margin-right: 5px;
}

#email-label,
#password-label {
    margin-left: 10px;
}

.controls {
    margin-left: 60px;
}

#login-button,
#sign-up-button {
    width: 70px;
}

#login-button {
    background: #2ecc71;
    border: #27ae60 1px solid;
    margin-left: 60px;
}

#sign-up-button {
    background: #3498db;
    border: #2980b9 1px solid;
    margin-left: 10px;
}

#login-button:hover {
    background: #2CC06B;
}

#sign-up-button:hover {
    background: #3594D2;
}