body {
    background-image: url('../assets/background.png');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
}

button {
    margin-left: 45px;
    display: block;
    background: #cdd7ec;
    border: #0f0f0f 1px solid;
    width: 90px;
    color: #ffffff;
    border-radius: 4px;
    font-weight: 900;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #9da7bb;
}

i {
    font-size: 20px;
    font-style: normal;
}