#qrCodeImage {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
}

#print,
#scan {
    background-color: #555555;
    border: #0f0f0fbd 1px solid;
    width: 120px;
    height: 40px;
    margin-right: 5px;
}

#print:hover,
#scan:hover {
    background: #bbbaba;
}

#printer-icon {
    font-size: 20px;
    font-style: normal;
}

#send-email-button {
    background-color: #4CAF50;
    border: #31a801bd 1px solid;
}

#send-email-button:hover {
    background: #2CC06B;
}