.alert-error,
.alert-success,
.alert-warning {
    padding: 20px;
    color: #ffffff;
    text-align: center;
}

.alert-error {
    background-color: #f44336;
}

.alert-success {
    background-color: #4CAF50;
}

.alert-warning {
    background-color: #ff9800;
}

#parking-spot-redirection {
    color: #ffffff;
}