img {
    width: 400px;
    height: 300px;
}

.my-profile-wrapper {
    margin-top: 20px;
    width: 600px;
}

label {
    width: 350px;
    display: inline-block;
    margin-top: 10px;
}

.user-info-wrapper {
    display: flex;
    flex-direction: row;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}