.scheduler-wrapper {
    width: 450px;
}

#scheduler-input,
.scheduler-wrapper {
    margin-top: 10px;
}

#upload-scheduler-button {
    background-color: #555555;
}

#upload-scheduler-button:hover {
    background: #bbbaba;
}