.schedule-wrapper {
    width: 450px;
}

#schedule-input,
.schedule-wrapper {
    margin-top: 10px;
}

#upload-schedule-button {
    background-color: #555555;
    margin-right: 10px;
}

#upload-schedule-button:hover {
    background: #bbbaba;
}

#delete-schedule-button {
    background-color: #f44336;
    border: #b81004;
}

#delete-schedule-button:hover {
    background-color: #f02112;
}

#delete-button-wrapper {
    margin-top: 10px;
}