body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 20px 0px 20px 0px;
}

p {
    float: left;
}

label {
    margin-right: 5px;
}

input[type="file"] {
    width: 172px;
}

.additional-fields {
    margin-bottom: 20px;
}

#registration-button {
    width: 120px;
    background: #2ecc71;
    border: #27ae60 0px solid;
    margin-left: 90px;
}

#registration-button:hover {
    background: #2CC06B;
}