.spot {
  margin: 10px;
}

.aLeft {
  margin-left: 50px;
  margin-top: 50px;
}

.aRight {
  margin-left: 300px;
  margin-top: -390px;
}

#building {
  margin-top: -360px;
  margin-left: 430px;
}

#body {
  background-color: lightgrey;
}

.left {
  width: 50%;
}

#embedForm {
  margin-left: 800px;
  width: 30%;
  margin-top: -300px;
  border-style: solid;
  border-color: darkgray;
  background-color: white;
  display: none;
}

#availabilityInfo {
  margin-top: 20px;
  font-size: medium;
  font-weight: 200;
  margin-left: 30px;
}
